

body {
    margin: 0; 
    padding: 0;
    
}

.footer {
    position: relative;
    width: 100%;
    height: 40%;
    bottom: 0;
    margin-top: auto;
    background-color: #e7ecef;
    text-align: center;
    /*flex-shrink: 0;
    

    
    
    padding-top: 10px;*/
}

.footercontent a {
    width: 100%;
    height: 90px;
    text-decoration: none;
    color: #000;
}

.footercontent hr{
    margin-top: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.footercontent p{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}


@media (max-width: 600px){
    .footer p{
        left:100px;
    }
}

#NOAA, #NIDIS, #PDKE {
    width: 100px;
    height: auto;
}

#HCDP{
    width: 10%;
}

#main {
    padding-top: 20px;
}

#partners{
    padding-top: 10px;
    padding-bottom: 20px;
}

#partners p{
    font-size: 16px;
}

