html, body {
    min-height: 100%;
}

form, input, select { 
    padding: 0;
    margin: 0;
    outline: none;
    /*font-family: Roboto, Arial, sans-serif;*/
    font-size: 14px;
    color: #666;
    line-height: 22px;
}



.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
    
form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border: 0.5px solid black;
    box-shadow: 0 2px 2px #ccc; 
    color: black;
    font-size: 16px;
    vertical-align: middle;
    text-align: left;
}

.question, textarea{
    width:50%;
    border:1px solid #A9A9A9;
    box-sizing:content-box;
    float: right;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    color: black;
}

.question:hover, textarea:hover, #submit:hover{
    outline: none;
    border: 1px solid #095484;
    background: #e6eef7;
}

#submit {
    width:30%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}


