html, body {
    min-height: 100%;
}

div, form, input, select { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}



.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
    
form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border: 0.5px solid black;
    box-shadow: 0 2px 2px #ccc; 
    color: black;
    font-size: 16px;
    vertical-align: middle;
    text-align: left;
}

.question, textarea{
    width:50%;
    border:1px solid #A9A9A9;
    box-sizing:content-box;
    float: right;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    color: black;
}

.question:hover, textarea:hover, #submit:hover{
    outline: none;
    border: 1px solid #095484;
    background: #e6eef7;
}

#submit {
    width:30%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
/*.question {
    width:30%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    float: right;
}



#grasstype{
    width:33%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    float: right;
}

/*.title-block input {
    margin-bottom: 500px;
}


/*select {
    padding: 7px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: transparent;
}

.testbox select, table {
    width: 100%;
}

.testbox option {
    background: #fff;
}

    
.testbox button {
    width: auto;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    cursor: pointer;
}
    
.testbox button:hover {
    background-color: #0666a3;
}

.testbox .btn-block {
    margin-top: 20px;
    text-align: center;
    color: white;
    }
    
@media (min-width: 568px) {
    .title-block {
    display: flex;
    justify-content: space-between;
    }
    .title-block select {
    width: 30%;
    margin-bottom: 0;
    }
    .title-block input {
    width: 31%;
    margin-bottom: 0;
    }
    th, td {
    word-break: keep-all;
    }
    }*/

/*#input{
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

#submit{
    padding-top: 10px;
    padding-bottom: 20px;
}*/


