
body {
    margin: 0; 
    padding: 0;
    font-family: 'Montserrat';
    line-height: normal!important;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8ecae6;
    height: 75px;
}

.logos{
    margin-left: 20%;
}

.logos img {
    width: 50px;
    height: auto;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}



.logos img:last-child{
    margin-left: 10px;
}

.project-title{
    font-size: 20px;
    position: absolute;
    left: 30%;
    text-align: center;
    color: black;
}

.nav-links{
    margin-right: 20%;
}


.nav-links ul{
    display: flex;
    margin-top: 0;
    margin-bottom: 0 !important;
}

.nav-links li{
    list-style: none;
}


.nav-links a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.toggle-button{
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}



@media (max-width: 600px){
    .toggle-button{
        display: flex;
    }
    .logos{
        margin-left: 30px;
    }

    .logos img{
        width: 50px;
    }

    /*How to center this by the width of page?*/
    .project-title{
        font-size: 15px;
        text-align: center;
        left: 210px;
        top: 8px;
    }

    .nav-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .nav-links li{
        text-align: center;
    }

    .nav-links li a {
        padding: 10px 0px;
    }

    .nav-links.active{
        display: flex;
    }
}