body {
    margin: 0;
    padding: 0;
    top: 0;

  }
  
  .menu a {
    color: #000;
  }

  .header a:visited{
    text-decoration: none; 
    color:black;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    z-index: 3;
    top:0;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
  }
  
  .header a{
    font-size: 17px !important;
    line-height: normal !important;
  }

  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
  
    padding: 28px 20px;
    position: absolute;
    user-select: none;
    right:0;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
    right: 0;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;

  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  .logos{
      display: inline;
      float: left;
      margin-left: 1%;
      padding-top: 13px;
      padding-bottom: 13px;
  }
  
  .logos img {
      width: 50px;
      height: auto;
      vertical-align: middle;
  }
  
  .logo{
    padding: 17px 0px 17px 10px;
  }
  
  .logos img:last-child{
      margin-left: 10px;
  }
  /* 48em = 768px */
  
  @media (min-width: 60em) {
    .header li {
      float: left;
  
    }
    .header li a {
      padding: 28px 30px;
  
          
    }
    .header .logo{
      font-size: 18px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: fit-content;
          
      vertical-align: middle;
      display: table-cell;
    }
    .header .menu-icon {
      display: none;
    }
    .leftContent{
      text-align: center;
      
    }


  }