html, body {
    width: 100%;
    height: 100%;
}
  
.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.image img{
    width: 100%;
}

.drought {
    width:50%;
    height: 50%;
    /*padding-top:10% ;
    padding-left: 2%;*/

    display: inline-block;


}

.drought img{
    width: 30%;
}

#subcategory{
    text-align: center;
    font-weight: bold;
}

.statewide{
    width: 100%;
    height: 30%;
    text-align: center;
    vertical-align: middle;
}

.sitespecific{
    text-align: center;
}

#island-select{
    width: 300px;
    font-size: 16px;
}

#showSel{
    display: inline;
}

/*#showSel p{
    margin-top: 400px;
}*/

#showSel img{
    width: 50%;
    height: auto;
}

.myDiv{
    display:none;
    text-align:center;
    padding-top: 10px;
}  

#showHI #myImage{
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

.date{
    text-align: right;
}

#gauge {
    width: 100%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    margin-bottom: -70px;
    padding: 0;
  }