html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    font-family: 'Montserrat';
}
  
.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.drought {
    width:50%;
    height: 50%;
    /*padding-top:10% ;
    padding-left: 2%;*/

    display: inline-block;


}


#subcategory{
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid;
}

.statewide{
    width: 100%;
    height: 30%;
    text-align: center;
    vertical-align: middle;
}

.sitespecific{
    text-align: center;
}

#island-select{
    width: 300px;
    font-size: 16px;
}

#showSel{
    display: inline;
}

/*#showSel p{
    margin-top: 400px;
}*/

#showSel img{
    width: 40%;
    height: auto;
}

.myDiv{
    display:none;
    text-align:center;
    padding-top: 10px;
}  

.date{
    text-align: right;
}

.flex-container {
    display: flex;
    padding-top: 3%;
}

.flex-child {
    flex: 1;    
}  


#windy{
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#a{
    width: auto;
    height: auto;
}

.tool {
    position: relative;
    display: inline-block;
  }
  
  .tool .tooltext {
    visibility: hidden;
    width: 17vw;
    background-color: #fff;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 2px;
    padding: 0.1vw;
    
    position: absolute;
    z-index: 1;
    top:0.5vw;
    left: 1vw;
    text-align: left;
  }


  .tool:hover .tooltext {
    visibility: visible;
  }

.gauge-i{
    cursor: help;
    padding-left: 0.4vw;
}

  html body {
    padding-top: 70px;
   }

.headerimg img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    filter: brightness(.6);
  }
  
  
  .imgtext {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  .imgtext a{
      color: white;
      border: 1px solid;
      padding: 10px;
      text-decoration: none;
  }

  .imgtext a:hover{
      background-color: white;
      color: initial;
      border: 1px solid black;
  }