
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

*{
    color: black;
    font-size: 16px;
}

#radio{
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

#ranchsquare{
    text-align: center; 
    padding-top: 1%;
    padding-bottom: 10px;
}

.name p{
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 16px;
    cursor: help;

}

.accordion{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.myDiv{
    display: none;
    text-align: center;
}

.wrap{
    float:left;
    width:48%;
    height: 40%;
    display: flex;
    align-items: center;
}

.div1 {

    width:70%;
    text-align: right;   
    margin-left: auto; 
    margin-right: auto;
    vertical-align: middle;
}

.div1 img{
    width: 100%;
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

.popup {
    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
/* Popup arrow */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/*.div1 p{
    width: 60%;
    height: 30%;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 30%;
    margin-right: auto;
    background-color: #fef2c8;
    font-size: 0.8vw;
    text-align: left;
}*/

.div3 {

    width:80%;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;

}

.div3 img{
    width: 120%;
    display: block;
    margin-left: -50%;
}

.history{
    display: inline-block;
}

.history p{

    padding-top: 1%;
}

.history img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.error{
    color: red;
}

.sec3heading{
    text-align: center;

}

.sec3heading h5{
    padding-top: 20px;
    padding-bottom: 20px;

}
.sec3heading span{
    background-color: #ffc600;
    padding: 5px;
    cursor: help;
}

#rainproj h5{
    margin-bottom: 0 !important;
}
#rainproj img{
    width: 50%;
}
#rainHist img{
    width: 40%;
}

#rainTrend img{
    width: 40%;
}

#droughtHist img{
    width: 40%;
}