
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
    font-family: 'Montserrat';
}

*{
    color: black;
    font-size: 16px;
}

#radio{
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

#ranchsquare{
    text-align: center; 
    padding-top: 1%;
    padding-bottom: 10px;
}

.name{

}
.name p{
    text-align: center;
    color: black;
    font-size: 16px;
    display: inline-block;
}

.accordion{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}
.myDiv{
    display: none;
    text-align: center;
}


.wrap{
    float:left;
    width:48%;
    height: 45%;
    display: flex;
    align-items: center;
}

.div1 {

    width:70%;
    text-align: right;   
    margin-left: 2%; 
    margin-right: auto;
    vertical-align: middle;
}

.div1 img{
    width: 120%;
    display: block;
    margin-right: 5%;

}


/*.div1 p{
    width: 60%;
    height: 30%;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 30%;
    margin-right: auto;
    background-color: #fef2c8;
    font-size: 0.8vw;
    text-align: left;
}*/

.div3 {

    width:80%;
    display: block;
    margin-left: auto;
    margin-right: 0;

}

.div3 img{
    width: 150%;
    display: block;
    margin-left: -50%;
    padding-top: 5%;
}

.history{
    display: inline-block;

}

.history p{
    padding-top: 3%;
}

.history img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.error{
    color: red;
}

.sec3heading{
    text-align: center;

}

.sec3heading h5{
    padding-top: 20px;
    padding-bottom: 20px;

}
.sec3heading span{
    background-color: #ffc600;
    padding: 5px;
    cursor: help;
}

#rainproj h5{
    margin-bottom: 0 !important;
}
#rainproj img{
    width: 80%;
}
#rainHist img{
    width: 40%;
}

#rainTrend img{
    width: 40%;
}

#droughtHist img{
    width: 40%;
}

.tool {
    position: relative;
    display: inline-block;
  }
  
  .tool .tooltext {
    visibility: hidden;
    width: 17vw;
    background-color: #fff;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 2px;
    padding: 0.1vw;
    
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    text-align: left;
  }


  .tool:hover .tooltext {
    visibility: visible;
  }

  .i{
    position: relative;
    display: inline;
    width: 100%;
  }
  
  .i a{
      font-size: 12px;
  }
  .i .tooltext {
      font-size: 12px;
    visibility: hidden;
    width: 30vw;
    background-color: #fff;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 2px;
    padding: 0.1vw;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 15%;
    text-align: justify;
    text-justify: inter-word;
  }


  .i:hover .tooltext {
    visibility: visible;
  }
