body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    color:black;
    text-decoration:none; 

  }

/* sidebar */
aside {
    height: 100%;
    left: 0;
    position: fixed;
    top: 80px;
    width: 15%;
    background-color: #fcfcfc;
}


#sidebar ul {
    list-style: none;
}

.anchor{
    display: block;
    position: relative;
    top: -76px; 
    visibility: hidden;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    float: right;
}

.nav-link{
    padding-left: 8%  !important;
}

/* main body*/
.content {
    margin-left: 15%;
    min-height: 100%;
    position: relative;
    text-align: center;
    margin-top: 78px;  

}
.subcontent{
    width:95%;
    display: block; 
    margin-right: auto; 
    margin-left: auto;
}

/*Average Climate Conditions*/

.name{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.subtitle{
    font-size: 20px;
    text-align: center;
    padding-top: 1%;
}

.definition{
    font-size: 16px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.definition p{
    text-align: justify;
}

.definition a{
    color: blue;
    text-decoration: underline;
}

.graph12m{
    margin-bottom: 2%;
    border: black solid 1px;
    background-color: white;
    width: 60%;
    padding: 1%;
}

.graphTitle{
    text-align: center;
}


.charts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.map{
  width: 40%
}
.histPlotly{
    background-color: white;
    width: 100%;
    border: black solid 1px;
    padding: 1%;
}

/* Rainfall Forecast */

#rainProj img{
    width: 60%;
    background-color: white;
}

#rainProj{
    text-align: center;
    padding-top: 2%;
}

/*Historical Data*/
.box{
    background-color: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: black solid 1px;
  }
  
  #rainHist #droughtHist #rainTrend p{
    text-align: center;
  }
  
  #rainHist img{
    width: 100%;
  }
  
  #rainHist{
    width: 30vw;
  }
  
  #droughtHist{
    width: 40vw;
  }
  
  #droughtHist img{
    width: 100%;
  }
  
  #rainTrend{
    margin-top: 40px;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  #rainTrend img{
    width: 100%;
    
  }
  
  .wrapperHist{
    display: flex;
    justify-content: center;
  }

  .dataTitles p {
      font-size: 1vw;
  }

/* 48em = 768px */


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 150px;
    }

    #sidebarCollapse span {
        display: none;
    }

    #submenu {
        display: inline;
    }

    .wrapperHist {
        display: block;
    }

    .container {
        margin-left: 0px;
    }
}