
table,th{
    border-collapse: collapse;
    border: 1px solid black;
    
}
th{
    padding-left: 20px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.left{
    text-align: left;
    padding-left: 80px;
    width: 40%;
}



#datatitle{
    padding-left: 20px;
}

#num{
    text-align: center;
}

