
table,th{
    border-collapse: collapse;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    
}
th{
    padding-left: 20px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal !important;
}
table{
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.left{
    text-align: left;
    padding-left: 40px;
    width: 40%;
}



#datatitle{
    padding-left: 10px;
    cursor: help;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    padding-bottom: 2px;
    text-underline-offset: 2px;
}

#num{
    text-align: center;
}



.popup {
    position: relative;
  }

.popup .gaugepopuptext{
    visibility: hidden;
    width: 250px;
    background-color: #000;
    border-style: solid;
    border-width: thin;
    border-color: black;
    color: black;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 10%;
    margin-left: 0px;
    font-size: 12px;
    box-shadow: 0 2px 2px #ccc; 

  }


/* Popup arrow */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


.tool {
    position: relative;
    display: inline-block;
  }
  
  .tool .tooltext {
    visibility: hidden;
    width: 17vw;
    background-color: #fff;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 2px;
    padding: 0.1vw;
    
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    text-align: left;
  }


  .tool:hover .tooltext {
    visibility: visible;
  }

  .i{
    position: relative;
    display: inline;
    width: 100%;
  }
  
  .i a{
      font-size: 12px;
  }
  .i .tooltext {
      font-size: 12px;
    visibility: hidden;
    width: 30vw;
    background-color: #fff;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 2px;
    padding: 0.1vw;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 15%;
    text-align: justify;
    text-justify: inter-word;
  }


  .i:hover .tooltext {
    visibility: visible;
  }
