
table,th{
    border-collapse: collapse;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    
}
th{
    padding-left: 20px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal !important;
}
table{
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.left{
    text-align: left;
    padding-left: 40px;
    width: 40%;
}



#datatitle{
    padding-left: 10px;
    cursor: help;
}

#num{
    text-align: center;
}



.popup {
    position: relative;
  }

.popup .gaugepopuptext{
    visibility: hidden;
    width: 250px;
    background-color: #000;
    border-style: solid;
    border-width: thin;
    border-color: black;
    color: black;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 10%;
    margin-left: 0px;
    font-size: 12px;
    box-shadow: 0 2px 2px #ccc; 

  }


/* Popup arrow */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

