
table,th{
    border-collapse: collapse;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    
}
th{
    padding-left: 20px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
table{
    width: 50%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.left{
    text-align: left;
    padding-left: 150px;
    width: 40%;
}



#datatitle{
    padding-left: 20px;
    cursor: help;
}

#num{
    text-align: center;
}

